/* impostazoni generali  */

body {
  font-family: "Open Sans", sans-serif;
  color: #393d41;
  font-size: 1.2rem;
  line-height: 1.65;
  height: auto;
  max-width: 100%;
  max-width: auto;
}

.banner {
  font-family: "Montserrat", sans-serif;
  line-height: 1.65;
  color: #25a2c3;
}
/* -------------- */
header {
  background-color: black;
  padding: 10px;
  text-align: left;
}

.contenitre1 img {
  max-width: 8%;
  height: auto;
}
.banner {
  background-image: url(/images/banner.jpg);
  background-position: top;
  background-size: cover;
  text-align: center;
  padding: 11%;
}
.banner h1 {
  font-weight: bold;
  font-size: 56px;
}
.banner p {
  color: #393d41;
  font-size: 27px;
}
main div article p {
  padding-left: 10%;
  padding-right: 10%;
  margin: 1rem;
}
.bottone {
  display: inline-block;
  padding: 3px 9px;
  border-radius: 5px;
  background-color: #f04c2f;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.bottone:hover {
  transform: scale(1.1);
}
/* ------------------------------------------ */

main section.colonna1 {
  margin-top: 10%;
  margin-bottom: 10%;
  display: block;
  text-align: center;
}

main section img.immaginenotebook {
  border-radius: 50%;
  margin-left: 10%;
  width: 570px;
}
.bloccocolonna {
  font-size: 100%;
  float: right;
  margin-right: 16%;
  width: 600px;
  text-align: left;
  margin-top: 80px;
}
main section div.bloccocolonna div {
  padding-bottom: 3%;
}
main section div.bloccocolonna div h2 {
  font-weight: bold;
  font-size: 1.3rem;
  color: #25a2c3;
}
main section div.bloccocolonna div p {
  font-size: 1.4rem;
}
/*  */
main div.allertrosso {
  background-color: orangered;
  text-align: center;
}
main div.allertrosso div {
  margin-bottom: 10%;
  padding: 8%;
  color: white;
  font-size: 164%;
}
main div.allertrosso div h3 {
  font-weight: bold;
  padding-bottom: 2%;
}
main div.allertrosso div p.nnn {
  font-style: italic;
  padding-bottom: 2%;
}
main div.allertrosso div p.nn {
  font-size: 68%;
}
/* ---------------- */
